.Axium {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Axiumlogo{
  height:55px;
}

.topsection{
 background-image: url("/topsection-background.png");
 height:330px;
 text-align:center;
 color:white;

}

.middlesection{
  background-color: grey;
  height:330px;
}

.bottomsection{
  background-color: #003399;
  height:330px;
}

.menuContainer{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.footersection{
  height:100px;
  background-color:black;
  text-align:center;
}

.socialtop{
  text-align:right;
}

.searchbox{
  text-align:right;
}

head{
  font-family: 'Raleway', sans-serif;
}
body{
  font-family: 'Raleway', sans-serif;
}


.dropdown-toggle {
  color: grey;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}



#mydropdown:hover{
  transition: 1.0s ease 0s;
  background-color: grey;
}

.reviewLink{
  text-align:center;
}

p{
   font-family: 'Raleway', sans-serif;
   font-size: 22px;
}
