.Axium {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Axiumlogo{
  height:55px;
}

.topsection{
 background-image: url("/topsection-background.png");
 height:330px;
}

.middlesection{
  background-color: #d1d1e0;
  height:330px;
}

.bottomsection{
  background-color: #003399;
  height:330px;
}

.menuContainer{
  text-align: center;
}

.footersection{
  height:100px;
  background-color:black;
  text-align:center;
}

.socialtop{
  text-align:right;
}

.searchbox{
  text-align:right;
}


